
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: o;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

body{
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 10vh 0 0 0;
}
#clip-path{
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 51%, 0 67%);
    background-image: url(1.jpg);
    background-blend-mode: overlay;
    /* background-color: #00a2ff9f; */
    background-position:center;
    background-size: cover;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

main{
    margin: auto auto;
    box-shadow: 2px 2px 10px gray;
    width: 40vw;
    height: 80vh;
    border-radius: 30px;
    background: white;
}
#logo{
    height: 30vh;
}
#text{
    line-height: 2vh;
}
.inputs{
    padding: 5px;
}
input{
    border: none;
    border-radius: 30px;
    padding: 2.5vh 5vw;
    background: #eeeeee;
}
input:placeholder-shown{
    color: black;
    font-weight: bolder;
}
#button{
    padding: 3vh;
}
button{
    padding: 2.5vh 5vw;
    border: none;
    border-radius: 30px;
    background:rgb(0, 162, 255);
    box-shadow: 0px 0px 10px gray;
    color: white;
}
button:hover{
    background: linear-gradient(to right,lime,lightgreen);
    color: black;
}

@media only screen and (max-width:600px){
    body{
        height: 100vh;
        width: 100vw;
        text-align: center;
        padding: 10vh 0 0 0;
    }
    main{
        margin: auto auto;
        box-shadow: 2px 2px 10px gray;
        width: 80vw;
        height: 90vh;
        border-radius: 30px;
        background: white;
    }
    #logo{
        height: 30vh;
        padding: 2vh 0 0 0;
    }
    #text{
        line-height: 2vh;
    }
    .inputs{
        padding: 5px;
    }
    input{
        border: none;
        border-radius: 30px;
        padding: 2.5vh 5vw;
        background: #eeeeee;
    }
    #button{
        padding: 2.5vh;
    }




}